<h1>Log In</h1>

<%= form_tag session_path do %>
  <div>
    <%= label_tag "email" %><br>
    <%= text_field_tag "email", nil, class: "form-control" %>
  </div>
  <div>
    <%= label_tag :password %><br>
    <%= password_field_tag :password, nil, class: "form-control" %>
  </div>
  <br>
  <div><%= submit_tag "Log In", class: "btn btn-primary" %></div>
<% end %>