<%= form_for @user, :html=>{:multipart => true} do |f| %>

  <% if @user.errors.any? %>
    <div>
      <%= pluralize(@user.errors.count, "error") %> prevented this user from being created:
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label "firstname", "First Name" %><br>
    <%= f.text_field "firstname", class:"form-control" %>
  </div>
  <div>
    <%= f.label "lastname", "Last Name" %><br>
    <%= f.text_field "lastname", class:"form-control" %>
  </div>
  <div>
    <%= f.label "email", "Email" %><br>
    <%= f.text_field "email", class:"form-control" %>
  </div>
  <div>
    <%= f.label "phone", "Phone" %><br>
    <%= text_field_tag :phone1, nil, placeholder: "604", size: 4 %>
    <%= text_field_tag :phone2, nil, placeholder: "555", size: 5 %>
    <%= text_field_tag :phone3, nil, placeholder: "5555", size:5 %>
  </div><br>
  <div>
    <%= f.label :picture, "Profile Picture" %><br>
    <%= f.file_field :picture %> <br>
  </div>

  <div>
    <%= f.label "industry", "Industry" %>
    <br>
    <%= f.select :industry, options_for_select(["agriculture","energy","entertainment","finance","government","health/medical","hospitality","marketing/communications","non-profit","publishing","science","technology","transportation"]) %>
  </div>

  <div>
    <%= f.label "bio", "Bio" %><br>
    <%= f.text_area "bio", placeholder: "Tell other users a bit about yourself!", class:"form-control" %>
  </div>

  <div>
    <%= f.label "linkedin", "LinkedIn (optional)" %><br>
    <%= f.text_field "linkedin", placeholder: "http://", class:"form-control" %>
  </div>

  <div>
    <%= f.label "password" %><br>
    <%= f.password_field "password", class:"form-control" %>
  </div>
  <div>
    <%= f.label "password_confirmation" %><br>
    <%= f.password_field "password_confirmation", class:"form-control" %>
  </div>
  <br>
  <div><%= f.submit "Submit", class: "btn btn-primary right" %></div>
  
<% end %>