<div class="container">
<div class="well">
  
<% if !current_user %>
  <div class="warning">
    <h1>You don't have a profile! <br>
    Sign up for RideOrbit <%= link_to "here", new_user_path %>.</h1>
  </div>

<% else %>
  
  <img class="center-block prof-pic" src="<%= @user.picture %>">
  <br>
  <p class="text-center"><b>Name:</b> <%= current_user.firstname %> <%=current_user.lastname %></p>
  <p class="text-center"><b>Email:</b> <%= current_user.email %></p>
  <p class="text-center"><b>Phone:</b> <%=current_user.phone %></p>
  <p class="text-center"><b>Industry:</b> <%=current_user.industry %></p>
  <p class="text-center"><b>Bio:</b> <%=current_user.bio %></p>


  <h3>Reviews</h3>
  <% if @reviews.empty? %>
    <p>None yet.</p>
  <% else %>  
  <% @reviews.each do |review| %>
    <p><b>Reviewer: </b><%= @users.where(id: review.reviewer_id).first.firstname %>
    <p><b>Content: </b><%= review.body %></p>
    <p> <b>Rating: </b><%= review.rating %></p>
    <hr>
  <% end %>
  <% end %>

<% end %>
</div>
</div>