<div class="container-fluid" id="pending-drivers">

  <div class="row">
    <% @user.drivercommutes.each_with_index do |commute,index| %>
      <div class="col-md-4">
        <div class="panel panel-primary commute">
          <div class="panel-heading">
            <h3 class="panel-title"><%= image_tag "icon-driver.png" %>
            Commute No. <%= index += 1 %></h3>
          </div>
          <div class="panel-body">
            <p> From <%= commute.origin_name%><br>To <%= commute.destination_name%> </p>
            <% if commute.requests.empty? %>
              <label> Pending Requests From Passengers: None </label>
              <br>
              <label> No Pending Offers To Passengers </label>
            <% else %>
              <% commute.requests.each do |request|%>
                <% @total_driver_requests +=1 %>
                <div class="d-request" data-request="<%=request.to_json%>" data-user-id="<%=@user.id%>">
                  <% if request.approved_at.nil? && request.rejected_at.nil? && request.initiated_by_id == @user.id %>
                    <% @total_outgoing_driver_pending+= 1 %>
                    <% @total_driver_requests -= 1%>
                  <% end %>
                  <% if request.approved_at.nil? && request.rejected_at.nil? && request.initiated_by_id!= @user.id%>
                    Pending Requests From Passengers: 
                    <%= link_to "Passenger Profile", "/users/#{request.initiated_by_id}" %>
                    <button class="accept">Accept</button>
                    <button class="decline">Decline</button>
                    <button class="show-route">Show Route</button>
                  <% elsif request.approved_at && !request.rejected_at%>
                    <button><%= link_to "Passenger", "/users/#{commute.passenger}" %></button>
                    <button class="disconnect">Drop Passenger</button>
                  <% elsif request.rejected_at %>
                    <% @rejected_driver_requests+=1 %>
                  <% end %>
                </div>
              <% end %> 
              <% if @rejected_driver_requests == @total_driver_requests %>
                <label> Pending Requests From Passengers: None </label><br>
              <% end %> 
            <% end %>
            <label>Pending Offers To Passengers: <%= @total_outgoing_driver_pending %> </label>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="directions-panel2" class="hidden"></div>
<div id="map-canvas2" class="hidden"></div>
