<div id="pending-passengers">
  <% @user.drivercommutes.each_with_index do |commute,index| %>
    <div class="panel">
      <p> Commute Number : <%= index+1 %>
     <p> From <%= commute.origin_name%> To <%= commute.destination_name%> </p>
     <% if commute.requests.empty? %>
       Pending Requests From Passengers: None
     <% else %>
      <% commute.requests.each do |request|%>
        <% @total_requests +=1 %>
        <div class="d-request" data-request="<%=request.to_json%>" data-user-id="<%=@user.id%>">
          <% if request.approved_at.nil? && request.rejected_at.nil? %>
            Pending Requests From Passengers: 
            <%= link_to "Passenger Profile", "/users/#{request.initiated_by_id}" %>
            <button class="accept">Accept</button>
            <button class="decline">Decline</button>
          <% elsif request.approved_at && !request.rejected_at%>
            <button><%= link_to "Passenger", "/users/#{commute.passenger}" %></button>
            <button class="disconnect">Drop Passenger</button>
          <% elsif request.rejected_at %>
            <% @rejected_requests+=1 %>
          <% end %>
        </div>
      <% end %> 
      <% if @rejected_requests == @total_requests %>
        Pending Requests From Passengers: None
      <% end %> 
     <% end %>
    </div>
  <% end %>
</div>