<hr>
<h1>Driver Commute</h1>
<%= form_for @driver_commute do |f| %>

<div>
  <%= f.label "car_type", "Car Type" %>
  <%= f.text_field "car_type"%>
</div>

<div>
  <%= f.label "seats_available", "Number of Seats" %>
  <%= f.select :seats_available, options_for_select([1,2,3,4,5]) %>
</div>

<div>
  <%= f.label "driver_origin", "Origin:"%> 
  <%= f.collection_select :origin, @current_user.places,:cross_street_point,:cross_street %>
</div>

<div>
  <%= f.label "driver_destination", "Destination:"%>
  <%= f.collection_select :destination, @current_user.places,:cross_street_point,:cross_street %>
</div>

<div>
  <%= f.label "driver_arrival_time", "Arrive by:"%><%= f.time_select :arrival_time, {minute_step: 15, ampm: true, prompt: true} %>
</div>

<div>
  <%= f.submit "Submit" %> 
</div>

<% end %>