<% if !@passenger_commutes%>
  <h2>You have made no commutes as a Passenger!<br>
    Please make one <%= link_to "here", newcommute_path %>.</h2>

<% else %>

  <div class="commute">
    <h2>Your commutes as a Passenger:</h2>
    <% @passenger_commutes.each_with_index do |commute,index| %>
      <div>
      <p> Commute Number : <%= index += 1 %></p>
      <p> From : <%= commute.origin_name %> </p>
      <p> To: <%= commute.destination_name %> </p>
      <p> Days of Commute: 
        <% commute.days.each do |day| %>
          <span class="display-day"><%= day %></span>
        <% end %>
      </p>
      <p> Arrival time: <%= commute.arrival_time %></p>
      </div>
    <% end %>
  </div>
<% end %>