<hr>
<h1>Passenger Commute</h1>
<%= form_for @passenger_commute do |f| %>

  <div>
    <%= f.label "passenger_origin", "Origin:"%> 
    <%= f.select :origin do %> 
      <%= options_for_select(places_options(@current_user.places)) %>
    <% end %>
  </div>

  <div>
    <%= f.label "passenger_destination", "Destination:"%>
    <%= f.select :origin do %> 
      <%= options_for_select(places_options(@current_user.places)) %>
    <% end %>
  </div>

  <div>
    <%= f.label "passenger_arrival_time", "Arrive by:"%><%= f.time_select :arrival_time, {minute_step: 15, ampm: true, prompt: true} %>
  </div>

  <div>
    <%= f.submit "Submit" %> 
  </div>

<% end %>
