<hr>
<h1>Passenger Commute</h1>
<%= form_for @passenger_commute do |f| %>

  <div>
    <%= label_tag "passenger_origin", "Origin:"%> 
    <%= select_tag "passenger_origin", options_for_select(places_options(@current_user.places)) %>
  </div>

  <div>
    <%= label_tag "passenger_destination", "Destination:"%>
    <%= select_tag "passenger_destination", options_for_select(places_options(@current_user.places)) %>
  </div>

  <div>
    <%= f.label "passenger_arrival_time", "Arrive by:"%><%= f.time_select :arrival_time, {minute_step: 15, ampm: true, prompt: true} %>
  </div>
  <button>M</button>
  <button>T</button>
  <button>W</button>

  <hr>

  <div class="day"><%= check_box_tag "monday" %><label><span>
    <%= label_tag "monday" %></label></span></div>
  <div class="day"><%= check_box_tag "tuesday" %><label><span>
    <%= label_tag "tuesday" %></label></span></div>


  <div>
    <%= f.submit "Submit" %> 
  </div>

<% end %>
<hr>

  <div class="day"><label>
    <input type="checkbox" value="sun"><span>sun</span>
  </label></div>
  <div class="day"><label>
    <input type="checkbox" value="mon"><span>mon</span>
  </label></div>
  <div class="day"><label>
    <input type="checkbox" value="tues"><span>tues</span>
  </label></div>