Where your existing commutes will be.
<h1>Your Commutes:</h1>

<% if !@driver_commutes && !@passenger_commutes %>
  <h2>You have no commutes!<br>
    Please make a commute <%= link_to "here", newcommute_path %>!</h2>

<% else %>

  <% if @driver_commutes %>
  Driver Commutes:
    <% @driver_commutes.each do |commute| %>
      <div>
      From <%= commute.origin["name"] %> to <%= commute.destination["name"] %>.
      <%= commute.days %> - <%= commute.arrival_time %>
      </div>
    <% end %>
  <% end %>

  <% if @passenger_commutes %>
  Passenger Commutes:
    <% @passenger_commutes.each do |commute| %>
      <div>
      <%= commute.origin["name"] %> - <%= commute.destination["name"] %>
      <%= commute.days %> - <%= commute.arrival_time %>
      </div>
    <% end %>
  <% end %>

<% end %>