Where your existing commutes will be.
<h1>Current Commutes</h1>

<% if !@driver_commutes && !@passenger_commutes %>
  <h2>You have no commutes!<br>
    Please make a commute <%= link_to "here", newcommute_path %>!</h2>

<% else %>

  <% if @driver_commutes %>
    <div class="commute">
      <h2>Your commutes as a Driver:</h2>
      <% @driver_commutes.each_with_index do |commute,index| %>
        <div>
        <p> Commute Number : <%= index += 1 %></p>
        <p> Car Type : <%= commute.car_type%> </p>
        <p> From : <%= commute.origin_name %> </p>
        <p> To: <%= commute.destination_name %> </p>
        <p> Days of Commute: <%= commute.days %> at <%= commute.arrival_time %></p>
        </div>
      <% end %>
    </div>
  <% end %>
  <hr>
  <% if @passenger_commutes %>
    <div class="commute">
      <h2>Your commutes as a Passenger:</h2>
      <% @driver_commutes.each_with_index do |commute,index| %>
        <div>
        <p> Commute Number : <%= index += 1 %></p>
        <p> From : <%= commute.origin_name %> </p>
        <p> To: <%= commute.destination_name %> </p>
        <p> Days of Commute: <%= commute.days %> at <%= commute.arrival_time %></p>
        </div>
      <% end %>
    </div>
  <% end %>

<% end %>