<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzTWOeiWNOSZ611vVI1ogdOHh02Q46rug">
</script>

<h1>Map Page</h1>
<h1>Hello, <%= @user.lastname %></h1>
<h3>Select A Commute (Driver)</h3>
<select id="commute" onchange=calcRoute()>
<option disabled selected> -- select a commute -- </option>
<% @user.drivercommutes.each_with_index do |commute,index| %>
  <option value="<%=index%>"><%=index%> <%= commute.origin["name"]%> to <%= commute.destination["name"]%></option>
<% end %>
</select>

<script type="text/javascript">
      var map;
      var directionsService = new google.maps.DirectionsService();
      var directionsDisplay;
      var drivercommutesOriginsArray = [];
      var drivercommutesDestinationsArray = [];

      function initialize() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        var mapOptions = {
          center: { lat: 49.282043, lng: -123.108162},
          zoom: 13
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        directionsDisplay.setMap(map);
        
        <% @user.drivercommutes.each do |commute| %>
          drivercommutesOriginsArray.push(<%=raw commute.origin.to_json %>);
          drivercommutesDestinationsArray.push(<%=raw commute.destination.to_json %>);
        <% end %>
      }

      function calcRoute() {
        var commute = document.getElementById('commute').value;
        var start = new google.maps.LatLng(drivercommutesOriginsArray[commute].lat, drivercommutesOriginsArray[commute].long); 
        var end = new google.maps.LatLng(drivercommutesDestinationsArray[commute].lat, drivercommutesDestinationsArray[commute].long);
        var request = {
            origin:start,
            destination:end,
            travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          }
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="map-canvas"></div>
