<% content_for :head_section do %>
  <%= javascript_include_tag 'map', 'data-turbolinks-track' => true %>
<% end %>


<div id="directions-panel" class="panel"></div>

<div id="map-top">
  <div class="switch-light-container">
    <label class="switch-light well" onclick="">
      <input type="checkbox" id="commutes-select-toggle">
      <span>
        <span>Passenger</span>
        <span>Driver</span>
      </span>
      <a class="btn btn-primary"></a>
    </label>
  </div>
  <div class="container">
    <div class="row">
      <div id="passenger-commute-select" class="col-md-8 col-md-offset-2">
        <%= render 'passengerselect' %>
      </div>
      <div id="driver-commute-select" class="col-md-8" style="display:none">
        <%= render 'driverselect' %>
      </div>
      <div id="radius" class="col-md-3 col-md-offset-2 hidden">
        <label for="search_radius">Radius in kilometres</label>
        <input type="number" id="search_radius" name="search_radius" class="form-control cut">
      </div>
    </div>
  </div>
</div>

<div id="map-canvas" data-drivercommutes="<%= @user.drivercommutes.to_json %>" data-passengercommutes="<%= @user.passengercommutes.to_json %>" data-currentuser-id="<%= @user.id%>"></div>
