 <h1>Place</h1>
 <%= form_for @place, url: {action: 'create'} do |f| %>

<div>
  <%= f.label "name", "Name" %> <br>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label "cross_street", "Cross Streets" %><br>
  <%= f.text_field :cross_street %>
</div>

<%= f.submit "Submit" %>
<% end %>


<% if @places != nil %>
  <% @places.each do |place| %>
    <div>
    <%= place.name %> - <%= place.cross_street %>
    </div>
  <% end %>
  <%= link_to "Make a Commute", new_commute_path %>
<% end %>