<% content_for :head_section do %>
  <%= javascript_include_tag 'places', 'data-turbolinks-track' => true %>
<% end %>

<%= form_for @place, url: {action: 'create'} do |f| %>

  <div>
    <%= f.label "name", "Name" %> <br>
    <%= f.text_field :name, placeholder: "eg. Home...", class: "form-control" %>
  </div>
  <br>
  <div>
    <%= f.label "cross_street", "Cross Streets" %><br>
    <%= text_field_tag :street1, nil, placeholder: "W Hastings...", class: "form-control cut" %> <%= text_field_tag :street2, nil, placeholder: "Abbott...", class: "form-control cut" %>
    <% f.hidden_field :cross_street_point %>
  </div>
  <br>
<%= f.submit "Add to list", class: "btn btn-default btn-consistent  " %>      
<%= button_to "Log in", new_session_path, method: "get", class: 'btn btn-default btn-consistent' %>

<%= link_to "Make a Commute", newcommute_path %>
<% end %>

<!-- This is where all current_user's places will list. -->
<!-- Newly created @place will append to this list. -->
<div id="places">
  <% if @places %>
    <% @places.each do |place| %>
      <div>
      <%= place.name %> - <%= place.cross_street %>
      </div>
    <% end %>
  <% end %>
</div>


<script type="text/javascript"
            src='https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=#{ENV["GOOGLE_MAPS_KEY"]}'></script>
<script type="text/javascript">

// Google Maps autocomplete; on key-up, input is matched with locations.
function initialize(search) {
  var input = document.getElementById(search);
  if (input) {
    var autocomplete = new google.maps.places.Autocomplete(input);
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
        autocomplete.getPlace();
     });
  };
}
google.maps.event.addDomListener(window, 'load', function() {
  initialize('street1');
  initialize('street2');
});

// upon submit, two AJAX requests are made.
$("#new_place").on("submit", function(e){
  e.preventDefault();
  var query = $("#street1").val() + " and " + $("#street2").val();
  console.log('testing query(xst): ' + query);
  var xstData;
  var name = $("#place_name").val();


// 1 - POST to Google Maps. Sends concatinated input (cross-street name) as query. Receives location data.
// Data is parced to get lat & long of the cross-street
  $.ajax({
    url: "http://maps.googleapis.com/maps/api/geocode/json?address="+query+"&sensor=false",
    type: "POST",
    error: function(xhr, status, thrownError){
      console.log("oh noes!", thrownError); //this is never called
    },
    success: function(data){
      console.log("data: ", data);
      var lat = data.results[0].geometry.location.lat;
      var lng = data.results[0].geometry.location.lng;
      xstData = data;
      var params = {
        "name": name,
        "results": data["results"],
      }

// 2 - POST to /places - creates new Place  where params = previously retrieved data. 
// Append new Place info to #places div
      $.ajax({
        url: "/places",
        type: "POST",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: params,
        error: function(xhr, status, thrownError){
          console.log('oh noesssss....', thrownError);
        },
        success: function(response) {
          console.log('success!');
          console.log(response);
          $("<div>" + response.name + " - " + response.cross_street + "</div>").appendTo("#places");
          $(".flash").empty();
          $("<div>New place added!</div>").appendTo(".flash");
        }
      });

    }
  });
});
</script>



