<header>
  <div>
    <ul><li><%= link_to "RideOrbit", root_path, class: "navbar-brand" %></li></ul>
  </div>
  
  <div>
    <ul>
      <% if current_user %>
        <li><%= link_to "Profile", users_path %></li>
        <li><%= link_to "Places", places_path %></li> 
        <li><%= link_to "Commutes", commuteslist_path %></li> 
        <li><%= link_to "Map", map_index_path %></li> 

        <li><%= link_to "Log out", session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_path %></li>
        <li><%= link_to "Log in", new_session_path %></li>
      <% end %>
    </ul>
  </div>
</header>