<!DOCTYPE html>
<html>
<head>
  <title>RideOrbit</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" href="toggle-switch.css.scss">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzTWOeiWNOSZ611vVI1ogdOHh02Q46rug"></script>
  <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAzTWOeiWNOSZ611vVI1ogdOHh02Q46rug"></script>


</head>
<body>

<%= render 'layouts/header' %>
<marquee>Ride Orbit</marquee>
<div class="flash">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value) %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
